:root {
	--sidebar: #e11d48;
	--main-background: #ffe4e6;
	--main-common-padding: 20px;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/RobotoCondensed-Regular.ttf");
}

* {
	list-style: none;
	margin: 0;
	/* outline: 1px solid blue; */
	padding: 0;
}

html {
	box-sizing: border-box;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 100%;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.nav-sidebar {
	align-content: start;
	background: var(--sidebar);
	color: white;
	display: grid;
	padding: 10px;
	row-gap: 20px;
}

.nav-sidebar li {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.nav-sidebar img {
	margin-left: 8px;
	margin-right: 10px;
	width: 16px;
	position: sticky;
}

.nav-sidebar h1 img {
	margin: 0;
	width: 30px;
}
.sections,
.meta {
	position: sticky;
}


main {
	background-color: var(--main-background);
	display: grid;
	grid-template-rows: 1fr 5fr;
}

header {
	background-color: white;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.13);
	margin-bottom: 20px;
	padding: var(--main-common-padding);
}

.header-top {
	align-items: center;
	display: flex;
	margin-bottom: 10px;
}
.header-top .avatar {
	width: 40px;
}
.header-top input {
	background-color: rgb(245, 245, 245);
	border: none;
	border-radius: 10px;
	flex: 1;
	height: 25px;
	margin: 0 20px;
	padding: 0 10px;
}
.header-top p {
	margin-left: 10px;
}



.header-bottom {
	display: grid;
	grid-template-columns: 1fr 5fr 4fr;
}

.header-bottom .avatar {
	width: 80px;
}

.hello {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	justify-content: center;
}
.hello p:last-of-type {
	font-size: 1.8rem;
}

.actions {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}
.actions button {
	background-color: var(--sidebar);
	border: none;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	padding: 10px 30px;
}






.main-content {
	display: grid;
	gap: 10px;
	grid-template-columns: 3fr 1fr;
	padding: var(--main-common-padding);
}
.content {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr repeat(3, 12fr);
}
.content h3 {
	grid-column: 1 / -1;
}


.card {
	background-color: white;
	border-left: 5px solid #881337;
	padding: 20px;
	border-radius: 6px;
	display: flex;
 	flex-direction: column;
}
.card > .text {
	flex: 1;
}
.card-action {
	text-align: right;
}
.card-action img {
	margin-left: 20px;
	width: 20px;
}




.content-sidebar {
	grid-template-rows: 1fr repeat(3, 12fr);
}
.content-sidebar h3 {
	margin-bottom: 17px;
}
h3 ~ h3 {
	margin-top: 30px;
}

.announcements,
.trending {
	display: grid;
	background-color: white;
	border-radius: 6px;
	padding: var(--main-common-padding);
}
.announcements div {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(74, 74, 74);
}
.announcements div:last-of-type {
	padding-bottom: 0;
	border-bottom: none;
}
.announcements div p {
	font-size: .9rem;
}
.announcements div p:first-of-type {
	font-weight: bold;
}